<div class="app-body">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card text-white bg-success p-4">
            <div class="card-body">
              <form
                name="LoginForm"
                (ngSubmit)="LoginForm.form.valid && onSubmit()"
                #LoginForm="ngForm"
                novalidate
              >
                <h1><i class="fa fa-television"></i> T&T Eletrônica</h1>
                <p>Faça login em sua conta</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-user"></i
                    ></span>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    name="email"
                    #email="ngModel"
                    [class.is-invalid]="!email.valid && email.touched"
                    autocomplete="email"
                    [(ngModel)]="user.email"
                    required
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="!email.valid && email.touched"
                  >
                    Informe o E-mail!
                  </div>
                </div>
                <div class="input-group mb-4">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                      ><i class="icon-lock"></i
                    ></span>
                  </div>
                  <input
                    type="password"
                    class="form-control"
                    placeholder="Password"
                    name="password"
                    #password="ngModel"
                    autocomplete="current-password"
                    [class.is-invalid]="!password.valid && password.touched"
                    [(ngModel)]="user.password"
                    required
                  />

                  <div
                    class="invalid-feedback"
                    *ngIf="!password.valid && password.touched"
                  >
                    Informe a senha!
                  </div>
                </div>

                <div class="row">
                  <div class="col-6">
                    <button type="submit" class="btn btn-write px-5">
                      Login
                    </button>
                  </div>
                  <div class="col-6 text-write text-right">
                    <button
                      routerLink="/forget-password"
                      type="button"
                      class="btn btn-link px-0"
                    >
                      Esqueceu a Senha?
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
